@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<div>
		<table class="table table-bordered text-center" id="myTable">
			<tr class="bg-light-gray">
				<td class="text-uppercase">time</td>
				<td class="text-uppercase">monday</td>
				<td class="text-uppercase">tuesday</td>
				<td class="text-uppercase">wednesday</td>
				<td class="text-uppercase">thursday</td>
				<td class="text-uppercase">friday</td>
				<td class="text-uppercase">saturday</td>
			</tr>
			<tr>
				<td class="align-middle">06:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">07:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">07:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">08:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">08:25</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">09:20</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">09:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">10:05</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">10:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">11:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">11:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">12:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">12:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">13:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">14:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">14:10</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">14:55</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">15:05</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">15:20</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">15:50</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">16:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">16:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">17:05</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="align-middle">17:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var jsonData = @Html.Raw(ViewBag.ResultClass);
	console.log(jsonData);
	function timeConverter(time) {
		if (time == '0645') return 1;
		else if (time == '0700') return 2;
		else if (time == '0730') return 3;
		else if (time == '0815') return 4;
		else if (time == '0825') return 5;
		else if (time == '0920') return 6;
		else if (time == '0930') return 7;
		else if (time == '1005') return 8;
		else if (time == '1015') return 9;
		else if (time == '1100') return 10;
		else if (time == '1145') return 11;
		else if (time == '1230') return 12;
		else if (time == '1245') return 13;
		else if (time == '1315') return 14;
		else if (time == '1400') return 15;
		else if (time == '1410') return 16;
		else if (time == '1455') return 17;
		else if (time == '1505') return 18;
		else if (time == '1520') return 19;
		else if (time == '1550') return 20;
		else if (time == '1600') return 21;
		else if (time == '1645') return 22;
		else if (time == '1705') return 23;
		else if (time == '1730') return 24;
	}
	jsonData.forEach(function (classInfo) {
		var timeSplit = classInfo.Time.split('-');
		var startTime = timeConverter(timeSplit[0]);
		var endTime = timeConverter(timeSplit[1]);
		// Tim o cua cac lop hoc tren table theo thoi gian
		var cells = $('#myTable tr').slice(startTime, endTime + 1).find('td').eq(classInfo.Weekday - 1);

		var subjectContainerDiv = $('<div>')
			.addClass('selectedSubject btn-container')
			.css({
				'position': 'relative',
			});
		// Tao ra mot div element cho mon hoc
		var subjectDiv = $('<div>')
			.html(classInfo.SubjectName + '<br>' + classInfo.ClassId + '<br>' + classInfo.ClassType + '<br>' + classInfo.ClassRoom)
			.addClass('selectedSubject btn')
			.css({
				'color': '#000000',
				'padding': '5px',
				'border-radius': '5px',
				'position': 'relative',
			});
		// Append close button va subjectDiv
		subjectContainerDiv.append(subjectDiv);
		// Thay doi mau o da chon
		cells.attr('rowspan', endTime - startTime + 1).css({ 'background-color': '#87C4FF' });

		// Append subjectContainerDiv vao o dau tien
		cells.first().append(subjectContainerDiv);
	})

</script>