@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
	ViewData["Title"] = "Search";
}
<div>
	<h1>Searching</h1>
	<div class="active-cyan-4 mb-4">
		<div>
			<input class="form-control" type="text" placeholder="Search for something" id="searchData">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="users" checked>
				<label class="form-check-label" for="flexRadioDefault1">
					Users
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="terms">
				<label class="form-check-label" for="flexRadioDefault2">
					Timetable by terms
				</label>
			</div>
			<div class="col-1">
				<button class="btn btn-success" onclick="dataSearch()">Search</button>
			</div>
		</div>
	</div>
	<div id="displayer">

	</div>
</div>
<script src="~/js/SearchEngine.js" asp-append-version="true"></script>
